<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/public/css/bootstrap.css" rel="stylesheet">
	<link href="public/css/skeleton.css" rel="stylesheet">
	<link href="/public/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
	<div class = "jumbotron">
		<div class="title">
			<header>
			<img class = "thumbnail" src="/public/images/{{image}}"... /> 
				<h1>Michael Hunt</h1>
			</header>
			<h3>0.1 miles away</h3>
		</div>
	</div>
	<div class = "jumbotron">

		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus enim diam, adipiscing sodales sem ut, tristique suscipit odio. Nam mollis ipsum et venenatis euismod. Aliquam erat volutpat. Praesent placerat condimentum tristique. Morbi egestas dapibus viverra. Mauris sit amet dignissim risus, non elementum eros. Donec urna dui, placerat et feugiat non, vulputate in ipsum. Quisque dignissim pulvinar nisi. Quisque feugiat commodo dolor nec suscipit. Donec pretium scelerisque aliquet. Vivamus vitae turpis metus. Sed lobortis vitae orci sed gravida. Donec euismod ipsum sagittis pellentesque pellentesque. Aenean at lorem nec leo consequat tincidunt. Maecenas sit amet felis vel ante dictum suscipit quis nec magna. Sed augue velit, imperdiet quis mi a, porta aliquet urna.</p>
	</div>
	<div class = "jumbotron">
		
		<button> <a href="hire" <h1>Hire</h1> </a> </button>

	</div>

	<div>
		<button> <a href="back" <h1>Back</h1> </a> </button> <button> <a href="home" <h1>Home</h1> </a> </button> <button> <a href="help" <h1>Help</h1> </a> </button> 
	</div>


</body>
</html>
